*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width:800px;
    height:500px;
    background-color: #E8DFFF;
    text-align: center;
    padding-top:5%;
}

.dark{
    max-width:800px;
    height:500px;
    background-color: #07022A;
    text-align: center;
    padding-top:5%;
    color: #E8DFFF;
}

button{
    background-color:#E8DFFF ;
    padding:15px 25px;
    border-radius:55px;
    color:07022A;
    border: none;
}
